<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have a receieved a message from: <%= @contact_form.name %>, <%= @contact_form.email %>
    </h1>
    <p>
      <%= @contact_form.message %>.<br>
    </p>
  </body>
</html>
