<!DOCTYPE html>
<html>
  <head>
    <title>about me</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class ="col-3">
          <%= render "layouts/navbar" %>
        </div>
      </div>
    </div>
  </body>
</html>
