<!DOCTYPE html>
<html>
  <head>
    <title>my career</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class ="col-3">
          <%= render "layouts/navbar" %>
        </div>

        <div class="col-9 home-text">
          <div class="row protest-riot-regular custom-about-2">
            <div class="col-3">
              <h2>career</h2>
            </div>
            <div class="col rectangle custom-about-1">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
