<!DOCTYPE html>
<html>
  <head>
    <title>my career</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class ="col-3">
          <%= render "layouts/navbar" %>
        </div>

        <div class="col-9 home-text">
          <div class="row protest-riot-regular custom-about-2">
            <div class="col-3">
              <h2>career</h2>
            </div>
            <div class="col rectangle custom-about-1">
            </div>
          </div>

          <section id="cd-timeline" class="cd-container raleway-light">
            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-picture"></div>
              <div class="cd-timeline-content">
                <h4>University of California, Irvine</h4>
                <div class="timeline-content-info">
                  <span class="timeline-content-info-title">
                    <i class="fa fa-certificate" aria-hidden="true"></i>
                    B.S., Computer Science
                  </span>
                  <span class="timeline-content-info-date">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                    Sep 2016 - Mar 2020
                  </span>
                </div>
                <p>
                  Intro to coding through coursework with an expertise in Information. Learned multiple
                  languages and frameworks while building apps including an iOS Health Recommendation App.
                </p>
                <ul class="content-skills">
                  <li>Python</li>
                  <li>C++</li>
                  <li>PHP</li>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>Bootstrap</li>
                  <li>Swift</li>
                </ul>
              </div>
            </div>

            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-picture"></div>
              <div class="cd-timeline-content">
                <h4>Storyblaster Inc.</h4>
                <div class="timeline-content-info">
                  <span class="timeline-content-info-title">
                    <i class="fa fa-certificate" aria-hidden="true"></i>
                    Data / Software Intern
                  </span>
                  <span class="timeline-content-info-date">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                    June 2019 - Aug 2019
                  </span>
                </div>
                <p>
                  First internship in the software industry. Gained valuable hands-on experience with a crowdfunding
                  and audience-building software. Highlights: creating user personas and data analysis patterns.
                </p>
              </div>
            </div>

            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-picture"></div>
              <div class="cd-timeline-content">
                <h4>Kantata</h4>
                <div class="timeline-content-info">
                  <span class="timeline-content-info-title">
                    <i class="fa fa-certificate" aria-hidden="true"></i>
                    IT Intern
                  </span>
                  <span class="timeline-content-info-date">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                    Sep 2019 - Jun 2021
                  </span>
                </div>
                <p>
                  Internship involving a mix of Information Technology tasks and Integrations Engineering tasks.
                  Help set up software applications as well as physical company devices. Shadowed and paired with
                  senior engineers on multiple platforms.
                </p>
                <ul class="content-skills">
                  <li>Microsoft 365</li>
                  <li>BetterCloud</li>
                </ul>
              </div>
            </div>

            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-picture"></div>
              <div class="cd-timeline-content">
                <h4>Kantata</h4>
                <div class="timeline-content-info">
                  <span class="timeline-content-info-title">
                    <i class="fa fa-certificate" aria-hidden="true"></i>
                    Software Engineer I
                  </span>
                  <span class="timeline-content-info-date">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                    July 2021 - Dec 2023
                  </span>
                </div>
                <p>
                  Became a full-time junior engineer after demonstrating proficiency as an intern. Developed multiple web
                  applications and leveraged extensive knowledge of APIs. Excelled in optimizing and organizing company repositories.
                </p>
                <ul class="content-skills">
                  <li>Ruby</li>
                  <li>Ruby on Rails</li>
                  <li>PostgreSQL</li>
                  <li>Git</li>
                  <li>Heroku</li>
                  <li>Kubernetes</li>
                  <li>Postman</li>
                </ul>
              </div>
            </div>
          </section>

          <div class="row">
            <div class="col rectangle custom-about-3">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
