<!DOCTYPE html>
<html>
  <head>
    <title>simeon lam</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class ="col-3">
          <%= render "layouts/navbar" %>
        </div>
        <div class="col-9 home-text">
          <div class="wrapper">
            <div class="triangle top-layer">
            </div>

            <div class="bottom-layer">
              <div class="protest-riot-regular custom-home-2">
                <h2>hello, i'm simeon lam...</h2>
              </div><br>
              <div class="permanent-marker-regular custom-home-1">
                <h1>a software engineer,</h1>
                <h1>innovator & sports fanatic</h1>
              </div><br></br>
              <div class="protest-riot-regular custom-home-3">
                <h3>I have 2.5 years of experience as a SWE in the SaaS Cloud Industry.</h3><br>
                <h3>
                  Above all else, my top values are <u>collaboration</u>, <u>empathy</u>, and <u>growth</u>.
                  I am committed to becoming the best version of myself in both my professional and personal life.
                </h3><br>
                <h3><u>"You miss 100 percent of the shots you don't take."</u></h3>
              </div>
            </div>
          </div><br></br><br></br><br></br>

          <div class="pacman">
            <div class="pacman-top"></div>
            <div class="pacman-bottom"></div>
            <div class="feed"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
